/* .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
} */

.online{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: green;
}

.offline{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: red;
}