.statistics{
    background-color: #9bb1d0;
    padding: 20px;
    width: 500px;
    border-radius: 15px;   
    margin-bottom: 15px;
}

.title{
    margin: 0 0 5px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.statList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    flex-basis: calc((100% - 5*10px)/5);
    border: 1px solid darkslategrey;
    border-radius: 5px;
}

.label, .percentage{
    display: block;
    font-size: 25px;
    text-align: center;
}

.percentage{
    font-weight: bold;
}