.transactionHistory{
    background-color: #9bb1d0;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
}

th, td {
    text-align: center;
    border: 1px solid darkslategrey;
}

th{
    font-size: 30px;
    font-weight: bold;
}

td{
    font-size: 25px;
}